/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

header {
    background-color: var(--section-background);
    margin: 0px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.img {
    margin-right: 20px;
}

header img {
    width: 50px;
    border-radius: 50%;

}

header h1 {
    padding-left: 20px;
}


/* End Global Rules */
.main {
    height: calc(100vh - 70px);
    /* background-color: black; */

}

.main_page {
    /* background-color: aquamarine; */
    margin-top: 75px;
    margin-bottom: 75px;

}

.main_page {
    display: flex;
    gap: 40px;
    position: relative;
}

.box img {
    width: 200px;
}



.nav ul li {
    padding: 40px;
    /* border-bottom: 1px solid white; */
    width: 100%;
    position: relative;

}
aside{
    height: 100%;
    background-color: #2196f3;
}

.nav ul li::before {
    content: "";
    width: 0%;
    height: 4px;
    position: absolute;
    background-color: black;
    left: 0px;
    bottom: 0px;
    transition: 0.6s;

}

.nav ul li a:hover {
    color: aquamarine;
}

.nav ul li:hover::before {
    width: 100%;
    color: azure;
}

.course {
    display: flex;
    justify-content: center;
    gap: 70px;


}