/* start header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background-color: #ececec;
    padding: 0 20px 0 20px;
}
table tr th {
    border: 1px solid black;
    padding: 20px;

}
table{
    margin:20px ;
}
.lessons{
    display: flex;
    justify-content:space-between;
    align-items: center;
height:calc(100vh - 170px);
background-color: antiquewhite;
margin-top: 50px;
margin-bottom: 50px;
}
form{
    margin:20px;
}
.lessons input{
    display: flex;
}
